.v-majer {
    .breadcrumb {
        margin: 24px 0px;
    }
    .content {
        padding: 24px;
        background: #fff;
    }
}

.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
@import "./toolbar.scss";
@import "./table.scss";
@import "./form.scss";
@import "./curd.scss";
@import "./layout.scss";
@import "./page.scss";
@import "./dropdown.scss";
@import "./input.scss";
