.ro-curd {
    background: rgba(#000, 0.3);
    border-radius: 3px;
    .ro-table-header {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        .search-filter-input {
            width: 250px;
        }
    }
}
