.ro-curd {
    background: rgba(#000, 0.25);
    border-radius: 3px;
    .ro-table-header {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        .ivu-input-search {
            background: transparent !important;
            border-color: rgba(#ffffff, 1) !important;
            &:active {
                border-color: rgba(#2d8cf0, 0.7) !important;
            }
        }
        .search-filter-input {
            width: 250px;
            &:hover{
                .ivu-input {
                    border-color: white;
                }
            }
            &:active {
                .ivu-input {
                    border-color: rgba(#2d8cf0, 0.7) !important;
                }
            }
            .ivu-input {
                background: transparent;
                &:focus {
                    border-color: white;
                    box-shadow: none;
                    outline: white;
                }
                &:hover {
                      border-color: white;
                }
                i {
                    color: white;
                }
            }
        }
        .ivu-btn {
            background-color: transparent;
            border-color: white;
            box-shadow: none;

            &:active {
                border-color: rgba(#2d8cf0, 0.7);
                color: rgba(#2d8cf0, 0.7);
            }
        }
    }
}
