.ro-table {
    background: white;
    padding: 10px;
    display: inline-block;
    width: 100%;

    .header-operate {
        margin-bottom: 10px;
    }
    .page {
        margin-top: 10px;
        float: right;
    }
}
